* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  list-style: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.d_flex {
  display: flex;
}
.flex_col {
  flex-direction: column;
}
.gap_15 {
  gap: 15px;
}
input[type="submit"] {
  padding: 6px 15px;
}
input {
  padding: 6px 17px;
  border-radius: 3px;
  border: 1px solid #000;
}
.text_center {
  text-align: center;
}
.text_justify_end {
  justify-content: end;
}
.login_boder {
  border: 3px solid #00000029;
  padding: 30px;
  border-radius: 5px;
}
